* {
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    background-color: var(--very-dark-blue);
    color: var(--light-grey);
    margin: 0;
    display: flex;
    min-height: 100vh;
}
p {
    line-height: 150%;
}

button {
    font-family: inherit;
    text-transform: uppercase;
}
